node_modules/
client/node_modules/
server/node_modules/
.env
client/.env
server/.env
dist/
build/
*.lognode_modules/

server/.env
Big_ding/
server/uploads/

# design-sync
.ds-sync/
ds-bundle/
.design-sync/.cache/
.design-sync/learnings/
.design-sync/node_modules
